body{
    
    padding-left: 30%;
    color: white;
    font-size: 20px;
    background-color: #0e0e3d;
    
   
}

form{
    width: 50%;
    height: 95%;
    padding-top: 10px;
    padding-left: 42px;
    border: 2px solid white ;
    border-radius: 2%;
    text-align: center;
    background-color: rgb(8, 5, 39);
   

}
h1{
    text-decoration: underline ;
}

h5{
    font-size: 20px;
}

a{
    color: aliceblue;
}

#submit{
    height: 30px;
    width: 100px;
    font-weight: bolder;
    font-size:15px;
}